.container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000, #1d1b36);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.back-button {
  color: #ffffff;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.title {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.label {
  display: block;
  color: #ffffff;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input,
.select {
  width: 100%;
  padding: 0.625rem;
  background: transparent;
  border: 1px solid #3b82f6;
  border-radius: 0.375rem;
  color: #ffffff;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #3b82f6;
  color: #ffffff;
  font-weight: 500;
  border-radius: 0.375rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #2563eb;
}

.disclaimer {
  color: #ffffff;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
}

.disclaimer a {
  color: #3b82f6;
  text-decoration: underline;
}
